:root {
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-cream: hsl(30, 38%, 92%);
  --color-dark-blue: hsl(212, 21%, 14%);
  --color-dark-gray-blue: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
  --font-family-serif: "Fraunces", serif;
  --font-family-sans-serif: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-family-sans-serif);
  background: var(--color-cream);
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  line-height: 1.6;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  padding-block: 16px;
}

.wrapper {
  max-width: 75rem;
  margin-inline: auto;
  padding-inline: 16px;
}

.perfume {
  flex: 1;
}

.perfume .wrapper {
  min-height: 100%;
  display: grid;
  place-content: center;
}

h1 {
  font-family: var(--font-family-serif);
  font-size: 2rem;
  line-height: 1.2;
}

p {
  font-size: 0.875rem;
}

/* Header */

.header__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header__subtitle {
  order: -1;
  color: var(--color-dark-gray-blue);
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

/* Card */

.card {
  --border-radius: 6px;
  background: var(--color-white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  max-width: 38rem;
}

.card > * {
  flex: 1 1 auto;
}

.card--theme-cyan {
  --card-theme-text-color: var(--color-dark-cyan);
  --card-theme-text-contrast-color: var(--color-white);
  --card-theme-bg-color: var(--color-dark-cyan);
  --card-theme-bg-color-hover: hsl(156, 42%, 18%);
}

.card__content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__body {
  color: var(--color-dark-gray-blue);
  margin-top: 0.75rem;
}

.card__picture {
  order: -1;
  max-height: 250px;
}

.card__picture,
.card__image {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* Button */

.button {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  padding-block: 0.75rem;
  color: var(--card-theme-text-contrast-color, currentColor);
  background: var(--card-theme-bg-color);
}

.button:hover {
  background-color: var(--card-theme-bg-color-hover);
}

.button-price-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 0.75rem;
}

/* Price Group */

.price-group {
  align-items: center;
  display: flex;
  gap: 16px;
}

.price-group__price {
  color: var(--card-theme-text-color, currentColor);
  font-family: var(--font-family-serif);
  font-size: 2rem;
}

.price-group__discount {
  color: var(--color-dark-gray-blue);
}

footer {
  color: hsl(31 17% 40%);
  border-top: 1px solid hsl(31, 17%, 80%);
  text-align: center;
  padding: 16px;
}

footer a {
  color: currentColor;
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;
}

@media (min-width: 38rem) {
  .card {
    flex-direction: row;
  }

  .card > * {
    flex: 1 1 50%;
  }

  .card__picture,
  .card__image {
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--border-radius);
  }

  .card__picture {
    max-height: revert;
  }

  .card__image {
    object-position: revert;
  }

  section {
    padding-block: 32px;
  }

  .wrapper {
    padding-inline: 32px;
  }
}
